/* Reset browser defaults */
a {
  text-decoration: none;
  color: initial;
}

button {
  border: none; 
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* general */

.color-orange {
  color: orange;
}

.color-black {
  color: black;
}

.h2 {
  font-size: 45px;
}

.text-center {
  text-align: center;
}

.navigator li {
    display: inline; 
    padding: 20px;
  }

  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
  }

  header {
    padding: 100px 0 0;
  }

.header {
  margin:0;
  padding:0;
  display:inline;
  }

.navigator {
  widows: 60%;
  float: right;
  display:inline;
  padding: 0 0 2px;
  margin: 0;
  text-align: right;
  }

  .flex-between-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .active {
    background-color: blue;
    color: white;
    padding: 20px 40px;
    border-radius: 55px;
    overflow-x: hidden;
  }


main {
  padding-top: 40px;
}

  .first-box {
    max-width: 1969px;
    height: 900px;
    background-image: url(../assets/images/opening.png);
    background-repeat: no-repeat;
    background-size: contain
  } 
    
  .inside-box {
    padding-left: 200px;
    padding-top: 200px;
    padding-right: 630px;
  }


  .title-inside-box {
    font-size: 60px;
    margin: 20px 0;
  }


  .paragraph-inside-box {
    font-size: 25px;
  }

  
  .main-first-btn {
    background-color: blue;
    color: white;
    padding: 20px 40px;
    border-radius: 55px;
    overflow-x: hidden;
    font-size: 20px;
  }


  .main-second-btn {
    padding-left: 20px;
    font-size: 20px;
    color: blue;
    background-color: white;
    overflow-x: hidden;
  }


  .before-title {
    background-color: lightgray;
    color: black;
    padding: 10px 50px;
    border-radius: 55px;
    overflow-x: hidden;
    font-size: 20px;
    line-height: 20px;
    position: relative;
    margin-right: 230px;
  }

  .before-title__icon {
    background: orange;
    color: white;
    border-radius: 48%;
    height: 39px;
    width: 42px;
    line-height: 39px;
    display: block;
    position: absolute;
    left: 0px;
    top: 0;
    text-align: center;
  }

  .entry-section {
    background-image: url(../assets/images/opening-edited.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 20px 0;
  }

  .entry-section__content {
    max-width: 61%;
  }

  .entry-section__img {
    max-width: 39%;
    /* padding: 25px 0; */
  }

  .entry-section__img img {
    max-height: 670px;
    margin: 20px 0;
  }


  @media screen and (max-width: 1140px) {
    .inside-box {
      padding-left: 49px;
      padding-top: 0px;
      padding-right: 422px;
    }


  }

  @media screen and (max-width: 900px) {
    .entry-section__content {
      max-width: 100%;
    }
  
    .entry-section__img {
      max-width: 100%;
      /* padding: 25px 0; */
    }
  }

  .under-entry-section {
    padding-top: 70px;
    text-align: center;
    font-size: 20px;
  }

  .images-container {
    text-align: center;
  }


  .second-section {
    padding: 140px 0; 
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }

  .second-section_img {
    min-width: 55%;
  }

  .second-section_content {
    max-width: 400px;
  }

  .title-size {
    font-size: 45px;
    padding: 0;
    margin: 0;
  }

  .image-left {
    padding: 15px;
    max-width: 550px;
    display: flex;
    padding-top: 35px;
  }


  .second-section-paragraph {
    font-size: 20px;
  }


  .red-title {
    color: red;
    font-size: 25px;
    margin: 0;
  }

  .blue-title {
    color: blue;
    font-size: 25px;
    margin: 0;
  }

  .green-title {
    color: green;
    font-size: 25px;
    margin: 0;
  }


  .space-img {
    padding-right: inherit;
    object-fit: contain;
  }


  .flex-row {
    flex-direction: row;
  }

  .flex-column {
    flex-direction: column;
    padding: 10px 80px;
  }


  .third-section {
    display: flex;
  }

  .third-section-title {
    max-width: 50%;
    padding: 0 76px 0 228px;
    font-size: 45px;
  }

  .third-section-paragraph {
    max-width: 50%;
    padding: 80px 121px;
    font-size: 20px;
  }

  .forth-section {
    display: flex;
    max-width: 1400px;
    margin: auto;
    padding: 80px 120px;
  }

  .fifth-section {
    padding: 20px 0 60px;
    max-width: 1400px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .fifth-section_img {
    min-width: 55%;
    padding-left: 100px;
  }

  .fifth-section_content {
    max-width: 400px;
    padding-left: 70px;
  }


  .fifth-title-size {
    font-size: 45px;
    padding: 0;
    margin: 0;
  }

  .fifth-section-paragraph {
    font-size: 20px;
  }

  .fifth-btn {
    background-color: blue;
    color: white;
    padding: 20px 40px;
    border-radius: 55px;
    overflow-x: hidden;
    font-size: 15px;
  }

  .sixth-section-content {
    text-align: center;
    align-content: center;
    padding-top: 100px;
  }


  .sixth-title-size {
    padding: 10px 425px;
    font-size: 45px;
    margin: 0;
  }


  .sixth-section-paragraph {
    padding: 10px 345px;
    margin: 0;
    font-size: 20px;
  }


  .flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 80px 150px;
  }
  
  .flex-container > div {
    width: 270px;
    margin: 40px;
    text-align: center;
    font-size: 20px;
  }

.accordion {
  padding: 20px;
  background: #d6d6d6;
  color: #061b38;
  margin-bottom: 10px;
}

.accordion-title {
  position: relative;
}

.accordion-title .icon {
  position: absolute;
  right: 15px;
  top: 0;
  font-size: 20px;
  font-weight: bold;
}

.accordion .accordion-title .minus {
  display: none;
}

.accordion.show .accordion-title .minus {
  display: block;
}

.accordion.show .accordion-title .plus {
  display: none;
}

.accordion-title > * {
  margin: 0;
}

.accordion-content > * {
  margin: 0;
}

.accordion-content {
  /* padding-top: 20px; */
  /* display: none; */
  height: 0;
  /* transition: all 3s; */
  overflow: hidden;
}

.accordion.show .accordion-content {
  padding-top: 20px;
  height: initial;
}
